.portfolio {
    background: #131313;
    border-top: 1px solid rgba(179, 153, 95, 0.5);
    padding: 60px 0 80px 0;
}


.portfolio .p-item {
    margin: 15px 0;
}

.portfolio .p-item .p-image {
    position: relative;
    max-height: 500px;
    overflow: hidden;
    border-radius: 5px;
}

.portfolio .p-item .p-image img {
    width: 100%;
}

.portfolio .p-item .p-image .p-overlay {
    height: 96%;
    width: 96%;
    position: absolute;
    top: 2%;
    left: 2%;
    background: rgba(179, 153, 95, 0.7);
    border-radius: 5px;
    transform: scale(0);
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s;
}

.portfolio .p-item .p-image .p-overlay .p-text p {
    font-size: 16px;
    font-weight: 500;
    color: #222;
    text-transform: capitalize;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.portfolio .p-item .p-image:hover .p-overlay {
    transform: scale(1);
}

.portfolio .p-item .p-image .p-overlay button,
.portfolio .button {
    text-decoration: none;
    display: inline-block;
    line-height: 46px;
    background: #444;
    color: #fff;
    padding: 0 18px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    outline: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.portfolio .p-item .p-image .p-overlay button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.portfolio .p-item .p-image .p-overlay button:hover,
.portfolio .button:hover {
    background: #222;
}