.banner {
    background: url(../../../assets/images/banner.jpg) no-repeat center;
    background-size: cover;
}

.banner .banner-overlay {
    background: rgba(19, 19, 19, 0.6);
    padding: 200px 0;
}

.banner h1 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.banner h1 span {
    color: #b3995f;
}

.banner .designation {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
}

.banner p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

.banner .button {
    display: flex;
    margin-top: 30px;
}


.banner .button li {
    margin: 0 5px;
}

.banner .button li a {
    display: inline-block;
    text-decoration: none;
    line-height: 46px;
    font-weight: 500;
    background: #444;
    color: #fff;
    padding: 0 18px;
    text-transform: capitalize;
    font-size: 14px;
}

.banner .button li a:hover {
    background: #b3995f;
}

.banner .social-links ul li a {
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #b3995f;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.banner .social-links ul li a .social-icons {
    font-size: 20px;
    color: #fff;
}

.banner .social-links ul li a:hover {
    background: #fff;
}

.banner .social-links ul li a:hover .social-icons {
    color: #b3995f;
}



@media(min-width: 320px) and (max-width: 575px) {
    .banner .banner-overlay {
        padding: 100px 0;
    }

    .banner h1 {
        font-size: 34px;
    }

    .banner .designation {
        font-size: 22px;
    }

    .banner p {
        font-size: 14px;
    }

    .banner .button {
        display: block;
    }

    .banner .button li:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media(min-width: 576px) and (max-width: 767px) {
    .banner h1 {
        font-size: 45px;
    }

    .banner .banner-overlay {
        padding: 100px 0;
    }

    .banner .designation {
        font-size: 25px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .banner h1 {
        font-size: 45px;
    }

    .banner .banner-overlay {
        padding: 150px 0;
    }

    .banner .designation {
        font-size: 25px;
    }
}