header {
    background: #131313;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}

.navbar-light .navbar-toggler {
    border-color: #fff !important;
}

.menu-icon {
    color: #b3995f;
}

header .navbar .navbar-brand img {
    width: 120px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 15px !important;
}

.navbar-nav .nav-link {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    color: #fff !important;
    position: relative;
}

.navbar-nav .active-link {
    color: #b3995f !important;
}

.navbar-nav .nav-link:hover {
    color: #b3995f !important;
}


@media(min-width: 320px) and (max-width: 575px) {
    .banner .banner-overlay {
        padding: 100px 0;
    }

    .banner h1 {
        font-size: 34px;
    }

    .banner .designation {
        font-size: 22px;
    }

    .banner p {
        font-size: 14px;
    }

    .banner .button {
        display: block;
    }

    .banner .button li:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media(min-width: 576px) and (max-width: 767px) {
    .banner h1 {
        font-size: 45px;
    }

    .banner .banner-overlay {
        padding: 100px 0;
    }

    .banner .designation {
        font-size: 25px;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .banner h1 {
        font-size: 45px;
    }

    .banner .banner-overlay {
        padding: 150px 0;
    }

    .banner .designation {
        font-size: 25px;
    }
}