.title {
    margin-bottom: 30px;
}

.title span {
    color: #b3995f;
    text-transform: capitalize;
    font-size: 15px;
    position: relative;
    margin: 20px 0;
}

.title span:after {
    content: '';
    position: absolute;
    height: 1px;
    top: 12px;
    width: 30px;
    border-bottom: 1px solid #b3995f;
    left: 110%;
}

.title h2 {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
}